.basketItemContainer {
    display: flex;
    width: 100%;
}

.basketImage {
    width: 120px;
}

.cartTitleContainer {
    padding: 14px 8px 14px 24px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.cartListItem {
    padding: 8px 24px !important;
}

.itemDetails {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
    width: 100%;
}

.itemTitle {
    /* font-size: 18px;
    font-weight: 800; */
    font-size: 14px;
    font-weight: 500;
    max-width: 296px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.buttonContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 3;
    /* height: 65px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    background-color: #fff;
    padding: 8px 24px;
    width: 100%;
}

.deleteContainer {
    width: 35px;
    align-items: flex-start;
    top: -8px;
    position: relative;
}

.emptyCartMessage {
    padding: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

.drawerEl {
    overflow: hidden;
}

.cartList {
    max-height: calc(100% - 66px);
    overflow-y: auto;
}

.counterWrapper {
    padding: 8px 0 0;
}

.cartIcon {
    font-size: 2rem !important;
}

.freeDeliveryHint {
    padding: 8px 24px;
}

.deliveryCtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    padding: 8px 0;
}

.freeDeliveryOldText {
    text-decoration: line-through;
}

.deliveryPrice {
    display: flex;
    flex-direction: column;
}

/* .deleteItem {
    padding-bottom: 0 !important;
} */

@media (max-width: 1024px) {
    .cartButton {
        padding: 0 !important;
    }
}