.whyWeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.listItem {
    width: 50% !important;
    margin: 0 auto;
    gap: 14px;
}

.listItem svg {
    font-size: 42px;
}

.textPrimary {
    font-size: 24px;
}

.textSecondary {
    font-size: 18px;
}

.whyTitle {
    font-size: 36px;
    letter-spacing: 6px;
    text-align: center;
}


@media (max-width: 1024px) {
    .listItem {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .whyTitle {
        font-size: 31px;
        text-align: center;
        letter-spacing: 2px;
        padding: 0;
        font-weight: 600;
    }
}