.header {
    background-color: #fff;
    position: relative;
    z-index: 1;

    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8e5eb;
    padding: 32px 0;
}