.sliderCtn {
    padding: 16px;
}

/* .sliderContainer {
    padding-top: 0 !important;
} */

.sliderTitle {
    padding-left: 16px;
}

@media (max-width: 1024px) {
    .sliderCtn {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .sliderTitle {
        text-align: center;
    }
}