.nav {
    display: flex;
    justify-content: safe center;
    flex-wrap: wrap;
    grid-area: primary-nav;
    align-items: center;
    gap: .625rem 6.25rem;
    padding: 24px 0;
    max-height: 80px;
    overflow: hidden;
    transition: max-height 240ms cubic-bezier(0.22, 1, 0.36, 1);
}

.collapsed {
    max-height: 0;
    display: none;
}

/* Hide navigation on mobile devices */
@media (max-width: 600px) {
    .nav {
        display: none;
    }
}

.navList {
    display: contents;
}

.navItem {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
}

.navItem:hover::before {
    transform: scaleX(1);
}

.navItem::before {
    content: attr(data-title);
    color: #0000;
    pointer-events: none;
    width: max-content;
    height: 2px;
    transition: transform .2s ease-in-out;
    position: absolute;
    inset-block-end: 0;
    transform: scaleX(0);
    background-color: #000;
    width: 100%;
    bottom: -2px;
}

.active::before {
    transform: scaleX(1);
}