.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainTitle {
  text-align: center;
}

.link {
  text-decoration: underline;
}
