.howToOrderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin: 64px 0;
    background-color: #f8e5eb;
    padding: 174px 0;
}

.howToOrderContainerMobile {
    padding: 64px 24px;
    margin: 0;
}

.stepLabel {
    font-size: 24px !important;
}

.stepDescription {
    text-align: center;
}

.stepDescriptionMobile {
    text-align: left;
}

.howToOrderTitle {
    font-size: 36px;
    letter-spacing: 6px;
}

.stepLabelContainer svg {
    color: #000 !important;
}