.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 24%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  -webkit-user-drag: none;
}

/*
Taken from another site
*/
.manualCarousel {
  /* padding-left: 24px; */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  /* padding: 120px 0 32px; */

  padding: 16px;
}


.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* Navigation arrows - hidden by default on desktop */
.manualCarousel .swiper-button-next,
.manualCarousel .swiper-button-prev {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  outline: none;
}

@media (max-width: 1024px) {
  .manualCarousel {
    padding: 8px;
  }

  .swiper-slide {
    flex: 0 0 48%;
  }

  /* Show navigation arrows on mobile */
  .manualCarousel .swiper-button-next,
  .manualCarousel .swiper-button-prev {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  .manualCarousel .swiper-button-next::after,
  .manualCarousel .swiper-button-prev::after {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

  .manualCarousel .swiper-button-prev {
    left: 8px;
  }

  .manualCarousel .swiper-button-next {
    right: 8px;
  }

  .manualCarousel .swiper-button-disabled {
    display: none;
  }
}
