.productPageContainer {
  display: flex;
  flex-wrap: nowrap;
  padding: 24px 48px;
  min-height: 100vh;
}

.leftSection {
  flex: 1 1 65%;
  display: flex;
  margin-right: 56px;
  width: 100%;
}

.rightSection {
  flex: 1 1 35%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.productTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
}

.productDescription {
  font-size: 16px;
  margin-bottom: 24px;
}

.productPrice {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.buyButton {
  -webkit-appearance: none;
  appearance: none;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: #fff;
  border: 1px solid rgb(var(--button-outline-color, var(--button-background)));
  border-radius: var(--button-border-radius);
  background-color: #0000;
  background-image: var(--initial-gradient), var(--hover-gradient);
  background-size: 100% 100%, 0 100%;
  background-position: var(--initial-background-position);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  column-gap: 1.125rem;
  padding: 1rem 1.75rem;
  transition: background-size .45s cubic-bezier(.785,.135,.15,.86), background-position .45s step-end, color .45s cubic-bezier(.785,.135,.15,.86), border .45s cubic-bezier(.785,.135,.15,.86);
  display: inline-flex;
  position: relative;
}

.buyButton:hover {
  color: rgb(var(--button-background));
  background-position: var(--hover-background-position);
  border-color: rgb(var(--button-background));
  background-size: 0 100%, 100% 100%;
}

.buyButton:active {
  transform: scale(1.01);
}

@media (max-width: 768px) {
  .productPageContainer {
    flex-direction: column;
  }

  .leftSection,
  .rightSection {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
